body{
    margin:0;
    padding: 0;
    background-color: black;
}
#score{
    color:white;
    position:absolute;
    top:0;
    right:0;
    font-size:4em;
}
#maxScore{
    color:white;
    position:absolute;
    top:0;
    left:0;
    font-size:4em;
}
#finalScore{
    display: none;
    width:99vw;
    height:99vh;
    color:white;
    align-items: center;
    justify-content: center;
    font-size:4rem;
}